body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #01494c;
  }
  
  .carousel {
    position: relative;
    width: 600px;
    overflow: hidden;
  }
  
  .carousel-track-container {
    position: relative;
    width: 100%;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
  }
  
  .carousel-slide {
    min-width: 100%;
    list-style: none;
  }
  
  .carousel-image {
    width: 100%;
    display: block;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    z-index: 10;
  }
  
  .left-button {
    left: 10px;
  }
  
  .right-button {
    right: 10px;
  }
  
  .carousel-nav {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  
  .carousel-indicator {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
  }
  
  .carousel-indicator.current-slide {
    background-color: rgb(219, 107, 107);
  }
  